#fixedButton {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 35px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #fixedButton::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: $secondary-color;
  }
  #fixedButton.showTop {
    opacity: 1;
    visibility: visible;
  }

  .fixedButton{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    padding: 20px;
}
.roundedFixedBtn{
  height: 40px;
  line-height: 60px;  
  width: 40px;  
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 50%;
  background-color: $secondary-color;
  color: $primary-color;
  text-align: center;
  cursor: pointer;
}

#arrowUp {
    line-height: 38px;
}

.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: 
        url('../dist/images/CV-transparent.png') center 5% no-repeat;
    background-size: 270px 270px;

    #greeting {
        padding-top: 1.8rem;
        line-height: 2.5rem;
    }

    .home-name {
        font-size: 2.2rem;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
        margin-top: .5rem;
        border-bottom: 2px solid $secondary-color;

        .home-name-last {
            color: $secondary-color;
            font-weight: 700;
        }
    }

    h3 {
        font-weight: 700;
        letter-spacing: .1rem;
    }

    .home-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3rem;
        padding: 0 2rem;
        padding-top: 1.5rem;

        @media only screen and (min-width: 767px) {
          padding: 0 8rem;
          padding-top: 1.5rem;
        }

        @media only screen and (min-width: 1000px) {
          padding: 0 20%;
          padding-top: 1.5rem;
        }

        button {
            flex: 1;
            padding: .5rem 0;
            border: none;
            border-radius: 5px;
            background: linear-gradient(to right, rgba($secondary-color, 0.75), rgba($secondary-color, 1));
            color: white;
            letter-spacing: 1px;
            font-weight: 600;

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    color: $secondary-color;
                }
            }

            &:hover {
                background: $primary-color;
                border: 2px $secondary-color solid;
                color: $secondary-color;

                a {
                    color: $secondary-color;
                }
            }
        }

    }
    
    #time {
        position: absolute;
        bottom: 1rem;
        left: 5%;
    }

    .social-icons {
        padding-bottom: 2rem;

        i {
            font-size: 1.3rem;
        }
    }

    @keyframes popup {
        0%{
          transform: scale(1);
        }
        50%{
          transform: scale(1.4);
        }
        60%{
          transform: scale(1.1);
        }
        70%{
          transform: scale(1.2);
        }
        80%{
          transform: scale(1);
        }
        90%{
          transform: scale(1.1);
        }
        100%{
          transform: scale(1);
        }
      }

    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: popup 0.7s;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    border-radius: 15px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80vh;
    color: black;
    position: relative;

        .validate-form {

            .wrap-input100 {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1.3rem;

                .label-input100 {
                    color: $secondary-color;
                }

                .input100 {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid $secondary-color;
                    padding: 0.3rem 0.2rem;
                }

                #message {
                    height: 80px;
                }
            }

            .container-contact100-form-btn {
                float: right;

                .contact100-form-btn {
                    padding: 0.5rem 1.5rem;
                }
            }

           
        }
  }
  
  /* The Close Button */
  .close {
    color: $secondary-color;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .modal-header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0rem;

      p {
          margin-top: 2rem;
          margin-bottom: 1rem;
          line-height: 50px;
      }
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}